form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
}

.container-login {
    border: 1px solid grey;
    width: 30%;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    margin-bottom: 20px;
}

#logout {
    display: none;
}

.lista-usuarios {
    display: none;
    flex-direction: column;
}

table {
    text-align: center;
    border: 1px solid black;
}